<ul class="pagination">
  <li class="{% if include.active_page == "page_1" %} {{ "active" }} {% else %} {{ "waves_effect" }} {% endif %}"><a href="/musica/ministerio_jammpaz/pagina_1.html">1</a></li>
  <li class="{% if include.active_page == "page_2" %} {{ "active" }} {% else %} {{ "waves_effect" }} {% endif %}"><a href="/musica/ministerio_jammpaz/pagina_2.html">2</a></li>
  <li class="{% if include.active_page == "page_3" %} {{ "active" }} {% else %} {{ "waves_effect" }} {% endif %}"><a href="/musica/ministerio_jammpaz/pagina_3.html">3</a></li>
</ul>
<br/>
