---
layout: default
---

  {% include slider.html %}

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ "/assets/img/inscripciones.jpg" }}" alt="ECCEJU Inscripciones">
              <span class="card-title red-text text-darken-2">Inscripciones</span>
            </div>
            <div class="card-content">
              <b>Inscripciones Quito</b> <br/>
              <p>Si eres de Quito tienes dos opciones:</p>
              <ol>
                <li>Acercarse a la RCC Quito (Av. Bogotá y México), llenar el formulario de inscripción y pagar el valor correspondiente.</li>
                <li>Llenar tu formulario en línea en el siguiente <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBLxRW-eGTn2FM9UrLyEfjbeUw5WsNp0cGJhiFWJkvAn5-GA/viewform?usp=sf_link" alt="Enlace a Inscripcion Quito">enlace</a>, hacer depósito o transferencia a la cuenta de la Pastoral Quito (ver en el formulario), y enviar el comprobante de pago al número <b>0992530457</b> o vía <a href="https://www.facebook.com/eccejuquito2018/" alt="Facebook ECCEJU 2018">Facebook</a>.</li>
              </ol>

              <b>Inscripciones a Nivel Nacional</b>
              <p>Inscribirse con el/la líder local. El líder local debe recaudar todas las inscripciones, hacer el depósito y subir la información a la página de <a href="https://inscripciones.ecceju.rccec.org" alt="RCCEC">inscripciones</a>.
              </p>
              <br/>

              <b>Inscripciones Individuales</b>
              <p>Si eres de una localidad donde no hay RCC juvenil o eres de otro movimiento debes contactarte con la hermana <b>Paulina Sandovalin</b> al <b>0999837842</b>, o al correo <b>ofnacecrcc@hotmail.com</b>, y ella te inscribirá. En este caso el depósito o transferencia deberás hacerlo a la Cuenta de la Pastoral Juvenil RCC Quito (a la cuenta de Pastoral Quito).</p>

              <br/>
              <p>Para mayor información contactarse a <b>0985345527</b>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ "/assets/img/camisetas.jpg" }}" alt="Camiseta">
            </div>
            <div class="card-content">
              <p>Ahora puedes solicitar preventa de la camiseta official del encuentro. Para ello haz clic en el siguiente enlace: </p>
            </div>
            <div class="card-action">
              <a href="{{ site.inscripciones_url }}/preventa/new">Ir a preventa</a>
            </div>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ "/assets/img/danza_1.jpg" }}" alt="Danza">
              <span class="card-title">Ministerios</span>
            </div>
            <div class="card-content">
              <p>Aqui podrás encontrar información sobre los diferentes ministerios participantes, tales como
              Ministerio de Danza, Intercesión, Música.</p>
            </div>
            <div class="card-action">
              <a href="/ministerios">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ "/assets/img/music_1.jpg" }}" alt="Musica">
              <span class="card-title">Música</span>
            </div>
            <div class="card-content">
              <p>Aqui podrás información sobre las canciones del ECCEJU XXXII Quito 2018,
              letras de las canciones, tablaturas, acordes, así también como descargas, videos y mucho más.</p>
            </div>
            <div class="card-action">
              <a href="/musica">Ver más</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
    <div style="background: #ddd">
      <div class="container last-post">
        <section>
          <h5>Noticias</h5>
          <ul class="collection">
            {% for post in site.posts %}.
            <li class="collection-item avatar">
              {% assign date_format = site.minima.date_format | default: "%m/%d" %}
              <div class="date-post">{{ post.date | date: date_format }}</div>
              <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
              <p>
              {{ post.content | truncatewords: 10 }}
              </p>
              <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
            </li>
            {% endfor %}
          </ul>
        </section>
      </div>
  </div>
